@charset "UTF-8";


.aboutSectionBox{
	width: 100%;
	height: auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.aboutSectionBox_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
}
.aboutSectionBox_nav{
	font-size: 12px;
	margin-top: 50px;
	cursor: pointer;
}
	.aboutSectionBox_nav a:first-child{
		color: rgba(0, 0, 0, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.aboutSectionBox_nav a:last-child{
		color: rgba(0, 0, 0, 0.3);
	}
	.aboutSectionBox_nav a:last-child:hover{
		color: rgba(0, 0, 0, 0.8);
	}
	

.aboutSectionBox_column1{
	margin-top: 50px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.aboutSectionBox_column1 img{
		position: relative;
		right: 80px;
	}
	.aboutSectionBox_column1 p{
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 30px;
		line-height: 35px;
		position: relative;
		left: -30px;
		top: 150px;
		background-color: var(--main-bg-color);
		width: 400px;
		height: 180px;
		padding-left: 20px;
		padding-top: 60px;
	}
	
.aboutSectionBox_column2{
margin-top: 300px;
width: 1200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
	.aboutSectionBox_column2 img{
		position: relative;
	}
	.aboutSectionBox_column2 div{
		position: relative;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		top: 40px;
		left: 20px;
		background-color: var(--main-bg-color);
		width: 600px;
		height: 250px;
	}
		.aboutSectionBox_column2 p:first-child{
		position: relative;
		font-weight: bold;
		font-size: 30px;
		top: 20px;
		left: 20px;
	}
		.aboutSectionBox_column2 p:last-child{
		position: relative;
		font-weight: bold;
		font-size: 15px;
		top:50px;
		left: 20px;
	}
	
.aboutSectionBox_column3{
margin-top: 300px;
width: 1200px;
display: flex;
align-items: center;
justify-content: center;	
padding-bottom: 300px;
}
	.aboutSectionBox_column3 img{
		position: relative;
		right: -440px;
	}
	.aboutSectionBox_column3 p{
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 25px;
		line-height: 35px;
		position: relative;
		left: -620px;
		top: 150px;
		background-color: var(--main-bg-color);
		width: 400px;
		height: 180px;
		padding-left: 20px;
		padding-top: 40px;
	}
	