@charset "UTF-8";


.allBrandBox{
	width: 100%;
	height: auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.allBrandBox_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
}
.allBrandBox_nav{
	font-size: 12px;
	margin-top: 50px;
	cursor: pointer;
}
	.allBrandBox_nav a:last-child{
		color: rgba(0, 0, 0, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.allBrandBox_nav a:first-child{
		color: rgba(0, 0, 0, 0.3);
	}
	.allBrandBox_nav a:first-child:hover{
		color: rgba(0, 0, 0, 0.8);
	}
	
.allBrandBox_column1{
margin-top: 50px;
width: 1200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
	.allBrandBox_column1 img{
		position: relative;
	}
	.allBrandBox_column1 div{
		position: relative;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		position: relative;
		top: 40px;
		left: 20px;
		background-color: var(--main-bg-color);
		width: 100%;
		height: 250px;
	}
		.allBrandBox_column1 p:first-child{
		position: relative;
		font-weight: bold;
		font-size: 25px;
		top: 65px;
		left: 20px;
		color: var(--column-font-color)
	}
		.allBrandBox_column1 p:last-child{
		position: relative;
		font-weight: bold;
		font-size: 15px;
		top:85px;
		left: 20px;
		color: var(--column-font-color)
	}
.allBrandBox_column2{
	margin-top: 200px;
}
	.allBrandMiniLogo-title{
		margin-bottom: 25px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 30px;
	}
	.allBrandMiniLogos{
		border-top: 8px solid var(--main-bg-color);
		border-bottom: 8px solid var(--main-bg-color);
	}

.allBrandbigLogo-title{
	margin-bottom: 80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-top: 300px;
	border-bottom: 8px solid var(--main-bg-color);
}

.allBrandBox_column3{
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column3 img{
		position: relative;
		right: 500px;
	}
	
.allBrandBox_column4{
margin-top: 50px;
width: 1200px;
display: flex;
align-items: center;
justify-content: center;	
}
	.allBrandBox_column4 img{
		position: relative;
		right: -200px;
	}

.allBrandBox_column5{
	margin-top: 50px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column5 img{
		position: relative;
		right: 500px;
	}
	
.allBrandBox_column6{
	margin-top: 50px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column6 img{
		position: relative;
		right: 0px;
		top: -130px;
	}
	
.allBrandBox_column7{
	margin-top: 50px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column7 img{
		position: relative;
		left: 500px;
		top: -250px;
	}
.allBrandBox_column8{
	margin-top: 50px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column8 img{
		position: relative;
		right: 0px;
		top: -130px;
	}
.allBrandBox_column9{
	margin-top: 150px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column9 img{
		position: relative;
		right: 200px;
		top: -130px;
	}
	
	.allBrandBox_column10{
	margin-top: 150px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.allBrandBox_column10 img{
		position: relative;
		right: -200px;
		top: -130px;
	}
	
	
.allBrandFooterBox{
	margin-top: 200px;
}
	
	
	