@charset "UTF-8";

.headerBox{
	width: 100%;
	border: 1px solid wheat;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-bg-color);
}

.headerClock{
	font-family: 'Noto Serif Display', serif;
	font-size: 25px;
	margin-left: 20px;
}
.headerLogo{
	font-weight: bold;
	padding-right: 20px;
}
	.headerLogo div:nth-child(1){
		font-size: 20px;
		position: relative;
		right: 30px;
	}
	.headerLogo div:nth-child(2){
		font-family: 'Noto Serif Display', serif;
		font-size: 30px;
		position: relative;
		top: -10px;	
		right: 20px;
	}

.headerMenuBtn{
	position: fixed;
	margin-right: 20px;
	cursor: pointer;
	right: 20px;
}

	.menuBox{
	    position: fixed;
	    width: 270px;
	    height: 100%;
	    right: -272px;
	    top: 0%;
	    z-index: 99;
	    border: 1px solid black;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	 	background-color: var(--main-bg-color);
	    font-family: 'Open Sans', sans-serif;
	    
	}
		.menuBox_greating{
			margin-top: 40px;
			font-size: 20px;
			font-weight: bold;
			color: rgba(0, 0, 0, 1);
		}
		.menuBox_userBox_list{
			margin-top: 70px;
		}
		.menuBox_userBox_list a{
			margin-left: 3px;
			margin-right: 3px;
			font-size: 13px;
			font-weight: bold;
			color: rgba(0, 0, 0, 0.8);
		}
		.menuBox_about{
			margin-top: 40px;
			color: rgba(0, 0, 0, 1);
			cursor: pointer;
		}
			.menuBox_about h3{
				font-size: 20px;
				font-weight: bold;
				cursor: pointer;
		}
			.menuBox_about li{
				margin-top : 18px;
				padding-left: 10px;
				font-size: 15px;
				font-weight: 300;
				cursor: pointer;
			}
			
		.menuBox_shop{
			font-size: 15px;
			margin-top: 20px;
			color: rgba(0, 0, 0, 1);
			cursor: pointer;
		}
			.menuBox_shop h3{
				font-size: 20px;
				font-weight: bold;
				cursor: pointer;
			}
			.menuBox_shop li{
				margin-top : 18px;
				padding-left: 10px;
				font-size: 15px;
				font-weight: 300;
				cursor: pointer;
			}
		.menuBox_community{
			font-size: 15px;
			margin-top: 20px;
			color: rgba(0, 0, 0, 1);
			cursor: pointer;
		}
			.menuBox_community h3{
				font-size: 20px;
				font-weight: bold;
				cursor: pointer;
			}
			.menuBox_community li{
				margin-top : 18px;
				padding-left: 10px;
				font-size: 15px;
				font-weight: 300;
				cursor: pointer;
			}
		.menuBox_customer{
			margin-top: 40px;
			padding-top: 20px;
			border-top: 2px solid rgba(0, 0, 0, 0.5);
		}
			.menuBox_customer h3{
				font-weight: bold;
				font-size: 15px;
				color: rgba(0, 0, 0, 1);
			}
			.menuBox_customer li:nth-child(1){
				font-weight: bold;
				font-size: 20px;
				margin-top : 15px;
				padding-bottom: 8px;
				color: rgba(0, 0, 0, 1);
			}
			.menuBox_customer li:nth-child(n+2){
				font-weight: bold;
				font-size: 11px;
				margin-top: 10px;
				color: rgba(0, 0, 0, 0.7);
			}

