@charset "UTF-8";


.homeBox{
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* 캐러셀 영역*/
.homeCarouselBox{
	margin-top: 80px;
	width: 1400px;
	height: auto;	
}
/* 캐러셀 js용 DOM */
.slider li{
	background-color: rgba(248, 248, 255, 0.9);	
}
.slider img{
	margin:0 auto;
	}
	

/* 상품 영역 */
.homeContentsBox{
	width: 1400px;
	height: 100%;
	margin-top: 100px;
}
	.homeContentsBox_poductBox{
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
	}
		.homeContentsBox h1{
			font-weight: bold;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			margin-bottom: 20px;
	}
		.homeContentsBox_poductBox div{
			border: 3px solid rgba(220, 220, 255, 1);
			width: 400px;
			height: 400px;
			
		}
		.homeContentsBox_poductBox div:nth-child(4),
		.homeContentsBox_poductBox div:nth-child(5),
		.homeContentsBox_poductBox div:nth-child(6){
			margin-top: 50px;
		}

/* 게시판 영역 */
.homeBoardBox{
	width: 1400px;
	height: 700px;
	margin-top: 200px;
}
	.homeBoardBox h1{
		font-weight: bold;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 20px;
	}
	.homeBoardBox_boardBox{
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: space-around;
	}
		.homeBoardBox_boardBox div{
			border: 1px solid black;
			width: 500px;
			height: 400px;
			
		}
		.homeBoardBox_boardBox div:first-child{
			border: 1px solid black;
			width: 500px;
			height: 400px;
			margin-left: 100px;
		}
		.homeBoardBox_boardBox div:last-child{
			border: 1px solid black;
			width: 500px;
			height: 400px;
			margin-right: 100px;
		}

.homeFooterBox{
	margin-top: 100px;
}

	

