@charset "UTF-8";


.loginBox{
	width: 100%;
	height: auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.loginBox_title{
	margin-top: 100px;
	font-weight: bold;
	font-size: 25px;
}

.loginFooterBox{
	width:100%;
	position: absolute;
	bottom: 0px;
}
