@charset "UTF-8";


.contactBox{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.contactBox_title{
	margin-top: 100px;
	font-weight: bold;
	font-size: 25px;
}
.contactBox_nav{
	margin-top: 50px;
	font-size: 13px;
	cursor: pointer;
}
	.contactBox_nav a:first-child{
		color: rgba(0, 0, 0, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.contactBox a:last-child{
		color: rgba(0, 0, 0, 0.3);
	}
	.contactBox a:last-child:hover{
		color: rgba(0, 0, 0, 0.8);
	}
	
.contactBox_board{
	margin-top: 100px;
	width: 800px;
	height: 1000px;
	border: 1px solid black;
	margin-bottom: 100px;
	}


.wayToComeFooterBox{
	margin-top: 150px;
}
	
