@charset "UTF-8";


.wayToComeBox{
	width: 1600px;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.wayToComeBox_title{
	margin-top: 100px;
	font-weight: bold;
	font-size: 25px;
}
.wayToComeBox_nav{
	margin-top: 50px;
	font-size: 13px;
	cursor: pointer;
}
	.wayToComeBox_nav a:last-child{
		color: rgba(0, 0, 0, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.wayToComeBox a:first-child{
		color: rgba(0, 0, 0, 0.3);
	}
	.wayToComeBox a:first-child:hover{
		color: rgba(0, 0, 0, 0.8);
	}
	
	.wayToComeMap_img{
		width: 100px;
		height: 100px;
		position: relative;
		top: 680;
		right: 740;
	}
	
#map_ma {
	width: 1600px; 
	height: 500px; 
	border: solid 1px red;
	color: black;
	font-size: 20px;
	position: relative;
	margin-bottom: 100px;
	margin-top: 50px;
}

.wayToComeBox_contentsBox{
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	.wayToComeBox_contents_title{
		font-size: 25px;
		font-weight: bold;
		margin-top: 20px;
		margin-left: 20px;
	}
	
.wayToComeBox_contents{
	display: flex;
	margin-left: 20px;
	
}
	.wayToComeBox_contents_text-title{
		margin-top: 20px;
	}
	.wayToComeBox_contents_text-title div{
			margin-top: 40px;
			font-weight: bold;
			font-size: 20px;
	}
	.wayToComeBox_contents_text-contents{
		margin-top: 20px;
		margin-left: 60px;
		margin-bottom: 100px;
	}
	.wayToComeBox_contents_text-contents div{
			margin-top: 42px;
			font-size: 15px;
			color: rgba(0, 0, 0, 0.5);
	}
	.wayToComeBox_contents_text-contents div:nth-child(2){
		margin-top: 45px;
	}
	.wayToComeBox_contents_text-contents div:nth-child(3){
		margin-top: 47px;
	}



.wayToComeFooterBox{
	margin-top: 150px;
}
	
