@charset "UTF-8";


.aboutBox{
	width: 100%;
	height: auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.aboutBox_title{
	margin-top: 100px;
	font-weight: bold;
	font-size: 25px;
}
.aboutBox_nav{
	margin-top: 50px;
	font-size: 12px;
	cursor: pointer;
}
	.aboutBox_nav a:first-child{
		color: rgba(0, 0, 0, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.aboutBox a:last-child{
		color: rgba(0, 0, 0, 0.3);
	}
	.aboutBox a:last-child:hover{
		color: rgba(0, 0, 0, 0.8);
	}
	

.aboutBox_column1{
	width: 1200px;
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
	.aboutBox_column1 img{
		position: relative;
		right: 80px;
	}
	.aboutBox_column1 p{
		width: 400px;
		height: 180px;
		position: relative;
		left: -30px;
		top: 150px;
		padding-left: 20px;
		padding-top: 60px;
		background-color: var(--main-bg-color);
		color: var(--column-font-color);
		border-radius: 30px 0px 30px 30px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 25px;
		line-height: 35px;
	}
	
.aboutBox_column2{
	margin-top: 300px;
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.aboutBox_column2 img{
		position: relative;
	}
	.aboutBox_column2 div{
		position: relative;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		top: 40px;
		left: 20px;
		background-color: var(--main-bg-color);
		width: 600px;
		height: 250px;
		border-radius: 30px 0px 30px 30px;
	}
		.aboutBox_column2 p:first-child{
		position: relative;
		font-weight: bold;
		font-size: 30px;
		top: 20px;
		left: 20px;
		color: var(--column-font-color);
	}
		.aboutBox_column2 p:last-child{
		position: relative;
		font-weight: bold;
		font-size: 15px;
		top:50px;
		left: 20px;
		color: var(--column-font-color);
	}
	
.aboutBox_column3{
margin-top: 300px;
width: 1200px;
display: flex;
align-items: center;
justify-content: center;	
padding-bottom: 300px;
}
	.aboutBox_column3 img{
		position: relative;
		right: -440px;
	}
	
	.aboutBox_column3 p{
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		left: -620px;
		top: 150px;
		background-color: var(--main-bg-color);
		width: 400px;
		height: 180px;
		padding-left: 20px;
		padding-top: 20px;
		color: var(--column-font-color);
		border-radius: 0px 30px 30px 30px;
	}
	.aboutBox_column3 p span{
		font-size: 25px;
	}

.youtubeHeader{
	font-family: 'Noto Serif Display', serif;
	font-size: 20px;
}
.youtubeBox{
	border: 10px solid var(--main-bg-color);
	border-radius: 20px;
	margin-bottom: 250px;
}
	
