<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shopmoon.mapper.AttachMapper">
	
	<select id="getAttachList" resultType="org.shopmoon.domain.AttachImageVO">
		
		select P_NO as productNo, I_FILENAME as fileName, I_UPLOADPATH as uploadPath, I_UUID as uuid from image where P_NO = #{productNo}
		
	</select>
	
</mapper>