<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shopmoon.mapper.MemberMapper">
	
	<!-- 회원가입 -->
	<insert id="memberJoin">
		insert into member values (
			 #{memberId}
			, #{memberPw}
			, #{memberName}
			, #{memberPhone}
			, #{memberEmail}
			, #{memberPostNum}
			, #{memberAddr1}
			, #{memberAddr2}
			, 'Y'
			, sysdate
			, '0'
		)	
	</insert>
	
	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
		select count(*) from member where M_ID = #{memberId}
	</select>
	
	<!-- 회원 로그인 & 회원정보 가져오기 -->
	<select id="memberLogin" resultType="org.shopmoon.domain.MemberVO">
		select
		 M_ID as memberId
		, M_PW as memberPw
		, M_NAME as memberName
		, M_PHONE as memberPhone
		, M_EMAIL as memberEmail
		, M_POST_NUM as memberPostNum
		, M_ADDRESS1 as memberAddr1
		, M_ADDRESS2 as memberAddr2
		, M_REG_DATE as memberRegDate
		, M_AUTHORITY as memberAuthority
		, M_USER_ACTIVE as memberActive from member where M_ID = #{memberId}
	</select>
	
	<!-- 회원 수정 -->
	<update id="memberUpdate">
		update member set 
		  M_NAME = #{memberName}
		, M_PHONE = #{memberPhone}
		, M_EMAIL = #{memberEmail}
		, M_POST_NUM = #{memberPostNum}
		, M_ADDRESS1 = #{memberAddr1}
		, M_ADDRESS2 = #{memberAddr2}
		where M_ID = #{memberId}
	</update>
	
	<!-- 회원 탈퇴 DB삭제X -->
	<update id="memberDelete">
		update member set 
			M_USER_ACTIVE = 'N'
			where M_ID = #{memberId}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="memberFindId" resultType="org.shopmoon.domain.MemberVO">
		select M_ID as memberId from member where M_EMAIL = #{memberEmail}
	</select>
	
	<!-- 임시 비밀번호 변경 -->
	<update id="updatePw">
		update member set
		M_PW = #{memberPw}
		where M_ID = #{memberId}
	</update> 
</mapper>
