<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shopmoon.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="memberJoin">
		insert into member values (
		SEQ_MEMBER.NEXTVAL, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, #{memberPostNum}, #{memberAddr1}, #{memberAddr2}, 'Y', sysdate, 'M'
		)	
	</insert>
</mapper>