@charset "UTF-8";


.baseDetailBox{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}


.baseDetail_Box{
	margin-top: 100px;
	width: 1000px;
	height: 100%;
	border: 5px solid rgba(220, 220, 255, 1);
	margin-bottom: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	}
	.baseDetail_rigthBox{
		display: inline-block;
	}
	.baseDetail_leftBox{
		float: right;
		width: 400px;
		margin-right: 20px;
		margin-top: 20px;
	}
	.baseDetail_Img{
		width: 500px;
		height: 500px;
		margin-left: 20px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	
		.baseDetail_pNo{
			margin-top: 20px;
			margin-left: 10px;
			width: 40px;
			height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		}
		
		.baseDetail_pCategory_label{
			margin-left: 20px;
		}
		.baseDetail_pCategory{
			margin-left: 10px;
			width: 55px;		
			height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		}
		.baseDetail_pName_Label{
			margin-top: 20px;
		}
		.baseDetail_pName{
			margin-top: 20px;
			margin-left: 10px;
			width: 210px;		
			height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		}
		.baseDetail_pPrice_label{
			margin-top: 20px;
		}
		.baseDetail_pPrice{
			margin-top: 20px;
			margin-left: 10px;
			width: 100px;		
			height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		}
		.baseDetail_pCount_label{
			margin-top: 20px;
		}
		.baseDetail_pCount{
			margin-top: 20px;
			margin-left: 10px;
			width: 50px;		
			height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		}
	
	.baseDetail_botBox{
		margin-top: 20px;
	}
		.baseDetail_pContents_Label{
			margin-left: 20px;
		}
		.baseDetail_pContents{
			margin-left: 25px;
			width: 950px; 
			height: 170px; 
		    resize: none;
		}


	.baseDetail_Btns{
		margin-left: 180px;
	}
		.baseDetail_linkguitarListBtn,
		.baseDetail_modifyWriteBtn,
		.baseDetail_linkBaseListBtn{
			margin-top: 30px;
			margin-bottom: 100px;
			margin-left: 5px;
			margin-right: 5px;
			width: 200px;
			height: 50px;
			background-color: var(--main-bg-color);
			border: none;
			cursor: pointer;
			font-weight: bold;
		}
		.baseDetail_linkguitarListBtn:hover,
		.baseDetail_modifyWriteBtn:hover,
		.baseDetail_linkBaseListBtn:hover{
			background-color: var(--main-bg-color);
			opacity: 0.6;
			cursor: pointer;
		}
	

.baseDetailFooterBox{
	margin-top: 150px;

}
	
