@charset "UTF-8";


.loginBox{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
	.loginBox_title{
		margin-top: 200px;
		font-weight: bold;
		font-size: 25px;
	}


.loginBox_form{
	margin-top: 50px;
}
	.loginId{
		width: 430px;
		height: 60px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
	.loginPw{
		width: 430px;
		height: 60px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
	}
	.LoginFail{
		margin-top: 20px;
		width:100%;
		text-align: center;
		font-size: 13px;
		color: red;
	}
	.loginBtn{
		margin-top: 50px;
		width: 430px;
		height: 50px;
		background-color: var(--main-bg-color);
		border: none;
		cursor: pointer;
		font-weight: bold;
	}
		.loginBtn:hover{
		background-color: var(--main-bg-color);
		opacity: 0.6;
		cursor: pointer;
	}
	
	.snsLoginImgs{
		margin-top: 30px;
		width: 430px;
		display: flex;
		justify-content: space-around;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding: 10px 0px 10px 0px;
	}
	.snsLoginImgs img:hover{
		opacity: 0.6;
		cursor: pointer;
	}
	.loginBox_find{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
	}
	.loginBox_find button{
		width: 200px;
		height: 40px;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		border: none;
		cursor: pointer;
		margin-left: 5px;
		margin-right: 5px;
		font-weight: bold;
	}
	.loginBox_signUp{
		margin-top: 30px;
		width: 430px;
		height: 50px;
		background-color: var(--main-bg-color);
		border: none;
		cursor: pointer;
		font-weight: bold;
		margin-bottom: 100px;
	}
