@charset "UTF-8";


.memberUpdateViewBox{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}

.memberUpdateViewBox_title{
	margin-top: 200px;
	font-weight: bold;
	font-size: 25px;
}


.memberUpdateViewBox_form{
	margin-top: 50px;
}
	.memberUpdateViewId{
		width: 430px;
		height: 60px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
	.memberUpdateViewPw{
		width: 430px;
		height: 60px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
	}
	
	.memberUpdateViewName{
	width: 430px;
	height: 60px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
	}
	.memberUpdateViewPhone{
	width: 430px;
	height: 60px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
	}
	.memberUpdateViewEmail{
	width: 430px;
	height: 60px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
	}
	

	.memberUpdateAddressBox{
	margin-top: 30px;
	}
	
	.memberUpdateViewBtn{
		margin-top: 50px;
		margin-bottom: 100px;
		width: 430px;
		height: 50px;
		background-color: var(--main-bg-color);
		border: none;
		cursor: pointer;
		font-weight: bold;
	}
		.memberUpdateViewBtn:hover{
		background-color: var(--main-bg-color);
		opacity: 0.6;
		cursor: pointer;
	}
	
